.novetats h2, .mesVenuts h2{
    display: inline-block;
    background: #000000;
    color: #fff;
    padding: 10px 150px;
    margin: 10px 0;
}

/*ESTILS NAVEGADOR*/
nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.active{
    color: springgreen;
}

.shopping-cart{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 5px 20px;
    transition: background 0.5s;
}

nav img {
    width: 170px;
    height: 75px;
}

a:last-child {
    border-right: none;
}

.active {
    background-color: #04AA6D;
}

#header-background{
    width: 100%;
    height: auto;
}

#layout section, #layout header{
    background-color: white;
    margin: 2px;
    padding: 2px;
    text-align: center;
    vertical-align: center;
}


body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/*ESTILS PEU DE PAGINA*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer{
    position: absolute;
    background: #111;
    height: auto;
    width: 100%;
    font-family: "Segoe UI";
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    color: #ffffff;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.menu-footer{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.menu-footer li{
    margin: 0 10px;
}

.menu-footer a{
    text-decoration: none;
    color: #fff;
}

.menu-footer a:hover, .menu-footer a:focus {
    text-decoration: underline #fff;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    color: #ffffff;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    color: #ffffff;
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

/*ESTILS LLISTA CARDS*/
body{
    width: 100%;
    height: 100%;
    letter-spacing: 0.03em;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
}
.title{
    text-align: center;
    font-size: 40px;
    color: #6a6a6a;
    margin-top: 100px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container .card{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card img{
    width: 330px;
    height: 220px;
}

.container .card h4{
    font-weight: 700;
}

.container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.cotainer .card a{
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}

.actions i{
    font-size: 24px;
}

.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 10px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover{
    background: #563434;
}