*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    letter-spacing: 0.03em;
    line-height: 1.6;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
}

/*ESTILS NAVEGADOR*/
nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.active{
    color: springgreen;
}

.shopping-cart, .user-icon{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 5px 20px;
    transition: background 0.5s;
}

.shopping-cart img, .user-icon img{
    width: 35px;
    height: 25px;
}

.logo-image{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -8px;
}

.logo-image img{
    width: 75px;
    height: 75px;
    margin-top: -10px;
    margin-left: -11px;
}

a:last-child {
    border-right: none;
}

#layout section {
    background-color: white;
    margin: 2px;
    padding: 2px;
    text-align: center;
    vertical-align: center;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: red;
}
.navbar-right{
    float: right;
}

.container{
    max-width: 600px;
    width: 100%;
    background-color: #dddddd;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.container .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.content form .user-register{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .user-register .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

form .user-sign .input-box{
    margin-bottom: 15px;
    width: 100%;
}

form .input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-register .input-box input, .user-sign .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.user-register .input-box input:focus,
.user-register .input-box input:valid{
    border-color: #9b59b6;
}

form .category{
    display: flex;
    width: 80%;
    margin: 14px 0 ;
    justify-content: space-between;
}
form .category label{
    display: flex;
    align-items: center;
    cursor: pointer;
}
form .category label{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}
form .button{
    height: 45px;
    margin: 35px 0
}
form .button input{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
form .button input:hover{
    /* transform: scale(0.99); */
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}
@media(max-width: 584px){
    .container{
        max-width: 100%;
    }
    form .user-register .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    form .category{
        width: 100%;
    }
    .content form .user-register{
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-register::-webkit-scrollbar{
        width: 5px;
    }
}
@media(max-width: 459px){
    .container .content .category{
        flex-direction: column;
    }
}