*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    letter-spacing: 0.03em;
    line-height: 1.6;
    font-family: sans-serif;
}

.novetats h2, .mesVenuts h2{
    display: inline-block;
    background: #000000;
    color: #fff;
    padding: 10px 150px;
    margin: 10px 33%;
}

/*ESTILS NAVEGADOR*/
nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.active{
    color: springgreen;
}

.shopping-cart, .user-icon, td .trash-icon{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 5px 20px;
    transition: background 0.5s;
}

.shopping-cart img, .user-icon img, td .trash-icon img{
    width: 35px;
    height: 25px;
}

.logo-image{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -8px;
}

.logo-image img{
    width: 75px;
    height: 75px;
    margin-top: -10px;
    margin-left: -11px;
}

a:last-child {
    border-right: none;
}

.active {
    background-color: #04AA6D;
}

#layout section {
    background-color: white;
    margin: 2px;
    padding: 2px;
    text-align: center;
    vertical-align: center;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover, td a:hover{
    background-color: red;
}
.navbar-right{
    float: right;
}

.navbar-right ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.navbar-right ul li ul {
    display: none;
}
.navbar-right ul li a:hover + ul, .navbar-right ul li ul:hover {
    display: block;
}

/*ESTILS PEU DE PAGINA*/
footer{
    position: absolute;
    background: #111;
    height: auto;
    width: 100%;
    font-family: sans-serif;
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    flex-direction: column;
}

.footer-content p{
    max-width: 500px;
    color: #ffffff;
}

/*ESTILS LLISTA CARDS*/
.title{
    text-align: center;
    font-size: 40px;
    color: #6a6a6a;
    margin-top: 100px;
    font-weight: 100;
    font-family: sans-serif;
}

.container{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container .card{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card img{
    width: 330px;
    height: 220px;
}

.container .card h4{
    font-weight: 700;
}

.container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.cotainer .card a{
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}

.actions i{
    font-size: 24px;
}

.actions .btn{
    display: inline-block;
    background: #04AA6D;
    color: #fff;
    padding: 8px 30px;
    margin: 10px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover{
    background: #563434;
}
/*ESTILS CABÀS*/
.container-cart table {
    border-collapse: collapse;
    width: 100%;
}

td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}